# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Ignorar todo lo relacionado con Terraform local
.terraform/
*.tfstate
*.tfstate.backup
crash.log
terraform.tfvars
.terraform.lock.hcl

# Por si acaso, ignorar cualquier binario grande accidental
*.x5
*.exe
*.tar
*.zip
argocd
